[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/NERD_Commenter"]
	path = vim/bundle/NERD_Commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "vim/bundle/NERD_Tree"]
	path = vim/bundle/NERD_Tree
	url = https://github.com/scrooloose/nerdtree.git
