snippet = 
	<%= ${1:variable} %>
snippet h
	<%=h ${1:variable} %>
snippet -
	<% ${1} -%>
snippet cfjs
	<% content_for :${1:javascript} do %>
		<script type="text/javascript">
			${2}
		</script>
	<% end %>
snippet table
	<table>
		<tr>
			<td>${1}</td>
		</tr>
	</table>
snippet div
	<div class="${1}" id="${2}">${3:body}</div>
snippet th
	<th>${1}</th>
snippet td
	<td>${1}</td>
snippet tr
	<tr>
		${1}
	</tr>
